
{{name}}
<h1><span>Kishor</span> Maharjan<small>  - <span>Front-End</span> Developer</small></h1>
<hr>
<p>Web development has been a topic of my interest since i was very young. I started learning web designing about a decade ago in the days of Microsoft Frontpage 98. I always loved digging deep in to the code when i find something that's new to me.</p>

<p>No Matter how much techonolgy advanced from animated Gifs to DHTML to jQuery/AJAX, web design and development has always been my passion.</p>
<br/>
<h3>Education</h3>
<hr>
<div class="row">
	<div class="col-md-1 col-md-offset-1"><h2>jun<br/><strong>'13</strong></h2></div>
	<div class="col-md-10">
		<h3><span>University of Western Sydney</span></h3>
		<h3>Penrith Campus, NSW</h3>
		<h4>BSc Computer Science</h4>
		<br/>
	</div>
</div>
<div class="row">
	<div class="col-md-1 col-md-offset-1"><h2>jun<br/><strong>'09</strong></h2></div>
	<div class="col-md-10">
		<h3><span>Group College of Australia</span></h3>
		<h3>Redfern, NSW</h3>
		<h4>Advance Diploma in Information Technology</h4>
	</div>
</div>
</div>
