
<img src="content/images/responsive_banner.jpg" alt="responsive banner" class="img-responsive" />
<h1>Design is Our LifeStyle.</h1>
<p>Web development has been a topic of my interest since I was very young. I started learning web designing about a decade ago in the days of Microsoft frontpage. I always loved digging deep into the code when I find somethings that's new to me.</p>
<p>No matter how much technology advanced, from animated GIFs to DHTML to jQuery/AJAX, web design and development has always been my passion.</p>
