<h1><span>Professional</span>Experience</h1>
<hr>
<div class="row">
	<div class="col-md-2 col-md-offset-1 col-xs-12 col-sm-4">
		<div class="circle">
			<h2>Front-End Developer </h2>
			<p>jul '13 - present</p>
		</div>
	</div>
	<div class="col-md-6 col-md-offset-1 col-xs-12 col-sm-6 text_center">
		<h3><a href="http://www.winepeople.com.au" target="_blank"><span>Laithwaite's Wine People</span></a></h3>
		<h3>Surry Hills, NSW</h3>
		<ul class="list-unstyled">
			<li>- Hand coding and editing CSS, HTML, JSP and JavaScript language.</li>
			<li>- Producing graphic design across all digital platforms.</li>
			<li>- Updating online and digital content through the use of content management software and hosting servers.</li>
			<li>- Assisting in analytics, tracing and search engine optimization (SEO)</li>
			<li>- Web designing and developing using software programming and scripting languages </li>
			<li>- Testing for website programming and improving functionality</li>
		</ul>
		<br/>
	</div>
</div>
<div class="row">
	<div class="col-md-2 col-md-offset-1 col-xs-12 col-sm-4">
		<div class="circle">
			<h2>Front-End Developer </h2>
			<p>jul '14 - sep '14</p>
		</div>
	</div>
	<div class="col-md-6 col-md-offset-1 col-xs-12 col-sm-6 text_center">
		<h3><span><a href="http://www.archfashion.com.au" target="_blank">ArchFashion</a></span></h3>
		<h3>Leichard, NSW</h3>
		<ul class="list-unstyled">
			<li>- Working with the creative teams to provide level-of-effort assessments.</li>
			<li>- Building the client-side code for polished Web applications, from HTML to CSS to JavaScript.</li>
			<li>- Using a modular script loader like Require JS to improve the speed and quality of code.</li>
			<li>- Building clean logic less and semantic templates effectively using handlebarjs.</li>
			<li>- Transmitting sets of data using JSON. </li>
			<li>- Write clean, well-organized and fully documented code</li>
			<li>- Develop and test across multiple browsers, platforms and devices including smartphones and tablets</li>
		</ul>
		<br/>
	</div>
</div>


